.container {
  text-align: center;
}

.labelContainer {
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 32px;
}

.labelContainer label {
  width: 40%;
  margin-right: 8px;
}

.labelContainer select {
  width: 20%;
}

.select {
  border: none;
  background: none;
  background-color: #c3c3c3;
  border-radius: 16px;
  padding: 8px 16px;
  border-right: 16px solid transparent;
}

@media (max-width: 1024px) {
  .labelContainer label {
    width: 60%;
  }

  .labelContainer select {
    width: 40%;
  }
}
