.main {
  padding: 1rem;
  min-height: 100vh;
  background-image: url("../public/images/background.jpeg");
  color: white;
}

.logoContainer {
  text-align: center;
  margin-bottom: 64px;
}

.logoContainer p {
  margin-top: 8px;
}
